<template>
    <button type="button" :class="classes" @click="onClick">{{ label }}</button>
</template>

<script>
import './main.css';
import { reactive, computed } from 'vue';

export default {
    name: 'bt-button',
    props: {
        label: {
            type: String,
            required: true,
        },
        success: {
            type: Boolean,
            required: false
        },
    },
    emits: ['click'],

    setup(props) {
        props = reactive(props);
        return{
            classes: computed(() => ({
                'form-style-btn form-style-blu': true,
                'form-style-blu': props.success,
                'form-style-red': !props.success
            })),

            onclick(){
                emits('click');
            }
        }
    },
};

</script>