<template>
    <div class="card-form">
        <h3 class="card-title" :class="classes">{{ label }}</h3>
        <div class="card-form-space">
            <submit-field placeholder="Phone Number" :valid="success" ></submit-field>
        </div>
        <div class="card-form-space">
            <submit-field placeholder="Code here" :valid="success" ></submit-field>
        </div>
        <img src="./images/captcha.jpg" alt="captcha">
        <div class="card-form-space">
            <submitButton label="Submit" :success="true" ></submitButton>
        </div>
        <div class="card-form-space">
            <submitCheckbox></submitCheckbox>
        </div>
    </div>
</template>

<script>
import './main.css';
import submitButton from './Button_BT.vue';
import submitField from './Field.vue';
import submitCheckbox from './Checkbox.vue'
import { reactive, computed } from 'vue';

export default{
    
    name: 'bt-card',
    components: { submitButton, submitField, submitCheckbox },
    props: {
        label: {
            type: String,
            required: false
        },
        success:{
            type: Boolean,
            required: false
        }
    },
    setup(props){
        props = reactive(props);
        return{
            classes: computed(() => ({
                
            })),
        }
    }
}

</script>