<template>
    <div class="form-group">
        <form>
            <div>
                <input type="checkbox" id="customCheck1">
                <label for="customCheck1">
                    By clicking on SUBMIT, you agree to the <span class="modal-toggle" data-toggle="modal" data-target="#privacy"><b>Terms, Data Privacy</b></span>
                </label>
            </div>
        </form>
    </div>
</template>

<script>
import './main.css'
import { reactive, computed } from 'vue';

export default{
    name: 'bt-checkbox',
    props: {
        
    },
    setup(props) {
        props = reactive(props);
        return{
            classes: computed(() => ({

            }))
        }
    }
}

</script>