<template>
    <div class="form-group">
        <input type="text" :class="classes" :placeholder="placeholder" :value="value" >
        <small v-show="!valid" :class="invalid">There is an error</small>
    </div>
</template>

<script>
import './main.css';
import { reactive, computed } from 'vue';

export default{
    name: 'bt-field',
    props: {
        placeholder: {
            type: String,
            requred: false
        },
        value:{
            type: String,
            required: false
        },
        valid:{
            type: Boolean,
            requred: false
        },
    },
    setup(props) {
        props = reactive(props);
        return{
            classes: computed(() => ({
               'form-style form-style-active': true,
               'default': props.valid,
               'invalid': !props.valid
            })),
            invalid: computed(()=> ({
                'small_invalid':true
            })),
        }
    }
}

</script>