html{
    background: #F8F8FD;
}

.card-body{
    background: rgb(119,62,229);
    background: -moz-linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    background: linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#773ee5",endColorstr="#01bfd7",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#297BFA', endColorstr='#F8F8FD',GradientType=0 ); 
    -webkit-backgroud-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-parent{
    position: relative;
    top: 0px;
    padding: 20px;
    height: 300px;
}

.card-form{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    height: auto;
    background-color: #FFF;
    border-radius: 16px;
    padding: 20px 30px;
    background: #FFFFFF;
    /* box-shadow: 0px 2px 4px rgba(78, 86, 140, 0.06); */
    box-shadow:0px 8px 206px rgb(78 86 140 / 22%)
}

.card-form h3{
    color: #4B4B4B;
}

.card-form-space{
    margin: 10px 0px;
}

.img-border{
    margin: 0 auto;
    height: 90px;
    padding-top: 5px;
    background: #FFFFFF;
    border: 1px solid #E9EBF6;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 418px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.logo-resize{
    min-width: 250px !important;
}

.gcash-checkbox{
	line-break: auto;
	margin-top: 15px;
	text-align: left;
	word-break: keep-all;
}

.checkbox-text{
    color:#4d4d4d;
}

.card-title{
    margin-top: 30px;
    margin-bottom: 1.5rem;
}

.card-title h4{
    font-size: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #00C7FF;
    letter-spacing: -1.39px;
    line-height: 3nh0.47px;
    text-align: center;
}

form{
    max-width: 418px;
    margin: 0 auto;
}

.form-style{
    height: 66px;
    width: 100%;
    padding: 15px;
    /* margin-bottom: 18px; */
    background: #F8F8FD;
    border: 1px solid #E9EBF6;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.528px;
    color: #2e2f33;
    text-align: left;
}

.form-style-active{
    outline-color: #1ea7fd;
}

.form-style input[type=text] :active{
    box-sizing: border-box;
    border: 4px solid #8842d5;
    border-radius: 5px;  
}

.form-style-btn{
    height: 66px;
    width: 100%;
    max-width: 418px;
    background: rgb(119,62,229);
    background: -moz-linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    background: linear-gradient(90deg, rgba(119,62,229,1) 0%, rgba(93,91,226,1) 31%, rgba(1,191,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#773ee5",endColorstr="#01bfd7",GradientType=1);
    border-radius: 10px;
    font-size: 22px;
    margin-top: 8px;
    cursor: pointer;
    color: #FFF;
}

.form-style-blu{
    background: #00C7FF;
    border: none;
}

.outline-none{
    outline: auto;
}

.powered{
    margin: 30px auto;
    max-width: 180px;
    padding-bottom: 30px;
}

.result{
    border: 1px solid #E8E9F1;
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 418px;
    width: 100%;
    margin: 30px auto;
}

.result img{
    width: 64px;
}

.card-title-result{
    padding-bottom: 10px;
}

.card-title-result h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #4d4d4d;
    letter-spacing: 1px;
    line-height: 28px;
    padding-top: 10px;
    margin-bottom: 1rem;
}

.card-title-result p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #828282;
}

.details{
    border: 1px solid #E8E9F1;
    box-sizing: border-box;
    border-radius: 12px;
    max-width: 418px;
    width: 100%;
    margin: 30px auto 10px;
    text-align: left;
    font-size: 14px;
    padding: 10px;
}

.td-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #4B4B4B;
    padding: 10px 0px;
}

.td-data{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #9A9A9A;
    padding: 10px 0px;
}

.td-data2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #313131;
    text-align: right;
    
}

.tb{
    width: 100%;
}

.form-style-red{
    height: 66px;
    border-color: #FF4B4B;
    width: 100%;
    max-width: 418px;
    border-radius: 10px;
    font-size: 20px;
    /* margin-top: 20px; */
    background: #FF4B4B;
    border-radius: 6px;
}

.error-alert{
    background: #FF5F6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
    top: 40px;
    margin: 0 auto;
    padding: 19px 0px 18px 0px;
}

.error-alert img{
    max-width: 40px;
}

.error-alert p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    display: inline;
    margin-left: 0px;
}

.card-alert{
    position: relative;
    height: 78px;
    max-width: 725px;
    margin: 0 auto;
    top: 40px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.card-alert-left{
    display: inline;
    padding: 10px;
}

.card-alert-right{
    float: right;
    display: inline;
    margin-right: 20px;
    margin-top: 5px;
}

/* stories */

.default{
    outline-color: #17a2b8;
}

.invalid{
    outline-color: #ffc107;
    background-color: #ffc107a1;
}

.small_invalid{
    color: #bd8e02;
}


@media (min-width: 375px){
    .error-alert img{
        max-width: 40px;
    }

    .error-alert p{
        font-size: 14px;
        margin-left: 10px;
    }
}
